button {
  width: 52px;
  height: 52px;
  padding: 6px;
  color: var(--primary-stroke);
  background-color: transparent;
  border-radius: 50%;
  border: 1px var(--primary-stroke) solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  cursor: pointer;
  outline: none;
}

button:active {
  background-color: var(--primary-negitive);
}

button.off {
  background-color: var(--primary-negitive);
}
