:root {
  --primary-positive: #609860;
  --primary-negitive: #d44c77;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-stroke: #252525;
    --primary-fill: #f0f0f0;
    --primary-line: #d44c77;

    --secondary-stroke: #4b4a4a;
    --secondary-fill: #dfdde2;
    --secondary-line: #bf5174;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-stroke: #dfdde2;
    --primary-fill: #131315;
    --primary-line: #00b0e9;

    --secondary-stroke: #7c7c7c;
    --secondary-fill: #1a191d;
    --secondary-line: #59b1cf;
  }
}

html,
body {
  background: var(--primary-fill);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  background: none;
}

* {
  font-family: 'Avenir Next', Arial;
  box-sizing: border-box;
  font-size: 1rem;
}

*:focus {
  outline: none;
}
