.bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-stroke);
  width: 150px;
  animation: expand 0.4s ease-in-out;
}

@keyframes expand {
  from {
    opacity: 0;
  }
}

.peer-disconnected {
  opacity: 0.3;
}

.icon-user {
  width: 120px;
  height: 120px;
  margin: 10px 0;
  padding: 25px;
  border-radius: 50%;
  border: 2px solid var(--primary-line);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5), 4px 4px 8px rgba(0, 0, 0, 0.35);
}

.icon-user > svg {
  width: 100%;
}

.icon-mic-on {
  width: 30px;
  height: 30px;
  color: var(--primary-positive);
}

.icon-mic-off {
  width: 30px;
  height: 30px;
  color: var(--primary-negitive);
}

.user-name-input {
  max-width: 100px;
  height: 28px;
  padding: 2px 5px;
  color: var(--secondary-line);
  background-color: var(--secondary-fill);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.user-name-input:active {
  color: var(--primary-stroke);
  background: var(--secondary-line);
}

.user-name-input:focus {
  border: 1px solid var(--primary-line);
}

.user-name-input[readonly] {
  background: none;
  border: 0;
  cursor: default;
}
