.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.header {
  margin: 5% 0 15px 0;
}

.control {
  display: grid;
  grid-template-columns: 90px 90px;
  align-items: center;
  margin: 12px 0 10% 0;
  background-color: transparent;
}

.control.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.room-name {
  height: 40px;
  line-height: 40px;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.room {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 94%;
  overflow-x: auto;
}

.room-loading:only-child {
  position: relative;
  height: 120px;
  width: 120px;
  border: 3px solid transparent;
  border-top-color: #3498db;
  border-bottom-color: #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.room-loading:only-child::before {
  content: '';
  position: absolute;
  top: 2%;
  bottom: 2%;
  left: 2%;
  right: 2%;
  border: 3px solid transparent;
  border-top-color: #db213a;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

.room-loading:only-child::after {
  content: '';
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  border: 3px solid transparent;
  border-top-color: #dec52d;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-height: 414px) {
  .header {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
  }

  .room {
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: auto;
  }

  .control {
    margin-bottom: 15px;
  }
}
