.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.header {
  margin: 20px 0 5px 0;
}

.control {
  display: grid;
  grid-template-columns: 90px 90px;
  align-items: center;
  margin: 10px 0 20px 0;
  background-color: transparent;
}

.control.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.room-name {
  max-width: 200px;
  height: 40px;
  line-height: 40px;
  margin: 0 3px;
  color: var(--primary-stroke);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.room-user-count {
  margin: 0 3px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-stroke);
}

.room {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 94%;
  overflow-x: auto;
}

.room-loading {
  display: none;
}

.room-loading:only-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loading-animate {
  position: relative;
  height: 120px;
  width: 120px;
  border: 3px solid transparent;
  border-top-color: var(--primary-line);
  border-bottom-color: var(--secondary-line);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loading-animate::before {
  content: '';
  position: absolute;
  top: 2%;
  bottom: 2%;
  left: 2%;
  right: 2%;
  border: 3px solid transparent;
  border-top-color: var(--primary-negitive);
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

.loading-animate::after {
  content: '';
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  border: 3px solid transparent;
  border-top-color: var(--primary-stroke);
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-height: 414px) {
  .header {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
  }

  .room {
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: auto;
  }

  .room .bubble {
    width: 125px;
  }

  .room .bubble .icon-wrapper {
    margin: 6px 0;
    width: 100px;
    height: 100px;
  }

  .room .bubble .icon-user {
    width: 90px;
    height: 90px;
  }
}
