.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  width: 120px;
  color: var(--secondary-line);
}

.sub-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-stroke);
  text-align: center;
  margin: 40px 0;
}

.domain {
  color: var(--secondary-line);
}

.start-chat-form {
  display: flex;
  font-weight: 500;
  margin-bottom: 50px;
}

.create-room-input {
  border: 2px var(--primary-line) solid;
  padding: 10px 14px;
  border-radius: 10px 0 0 10px;
}

.join-button {
  width: 70px;
  color: var(--primary-stroke);
  font-size: 1rem;
  background-color: var(--primary-line);
  border: none;
  border-radius: 0 10px 10px 0;
  text-align: center;
  padding: 11px;
  cursor: pointer;
}

.join-button:hover {
  background-color: var(--secondary-line);
}

@media only screen and (max-width: 667px) {
  .sub-title {
    font-size: 1rem;
    margin: 30px 0;
  }

  .start-chat-form {
    flex-direction: column;
    margin-bottom: 35px;
  }

  .create-room-input {
    border-radius: 10px 10px 0 0;
  }

  .join-button {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
}
